[Unit]
Description=BeetRunBk Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/beetleRunBk
ExecStart=/bin/bash /root/beetleRunBk/start.sh
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target