[Unit]
Description=BeetRunBk Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/beetlerun/BeetleRunBackEnd
ExecStart=/bin/bash /home/beetlerun/BeetleRunBackEnd/start.sh
Restart=on-failure
User=beetlerun

[Install]
WantedBy=multi-user.target
